body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff;
}

header {
    background-color: #4a90e2;
    color: white;
    padding: 20px;
    text-align: center;
}

main {
    text-align: center;
    padding: 20px;
}

h1, h2 {
    margin: 0;
}

#weather-info {
    margin-bottom: 20px;
}

#search {
    margin-top: 20px;
}

#city-input {
    padding: 10px;
    width: 200px;
}

#search-button {
    padding: 10px;
    background-color: #4a90e2;
    color: white;
    border: none;
    cursor: pointer;
}

#search-button:hover {
    background-color: #357ab8;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #4a90e2;
    color: white;
    position: absolute;
    bottom: 0;
    margin-top: -200px;
    width: 100%;
}
